body {
text-align: center;
font-family: Arial, sans-serif;
background-color: #f4f4f4;
}

h1 {
color: #333;
}

.container {
display: flex;
justify-content: center;
align-items: center;
margin-top: 20px;
}

#webcam {
border: 5px solid #333;
border-radius: 10px;
}


/* static/styles.css */
.alert {
font-size: 1.2em;
font-weight: bold;
color: red;
margin: 20px;
text-align: center;
}

.container {
display: flex;
justify-content: center;
margin-top: 20px;
}
